body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF

}

:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


/*-------------HEADER-------------*/

.header {
padding: 24px 0 24px 0;
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    flex-grow: 1;  
    align-items: center;
}

.logo-web {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 25.5px 0 25.5px 0;

}

.logo-web-studio {
    color: var(--navyblue);
    font-family: Raleway, sans-serif;
    margin-right: 76px;
}

.studio {
    color: var(--navyblue);
}

.header-list {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 24px 0 24px 0;
}

.header-item {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu {
    color: var(--navyblue);
}

.header-menu:hover {
    color: #404BBF;
}

.header-menu:focus {
    color: #404BBF;
}

.header-address {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-clic {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-clic:hover {
    color: #404bbf;
}

.header-address-clic:focus {
    color: #404bbf;
}

/*--------------MAIN------------*/
/*-----section-btn-----*/

.btn {
    background-color: var(--navyblue);
/*margin-bottom: 120px;*/
}


.btn-container {
    align-items: center;
}

.btn-heder {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin: auto;
    height: 10em;
    display: flex;
    align-items: center;
    }

.btn-button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    display: flex;
}

.btn-button:hover {
    background-color: #404BBF;
}

.btn-button:focus {
    background-color: #404BBF;
}

/*-----section-banner-----*/

.section-banner {
    background-color: #FFF;
    margin-top: 120px;
    /*margin-bottom: 120px;*/
}

.section-banner-list {
display: flex;
gap: 24px;
padding-left: 156px;
padding-right: 156px;
}

.section-banner-item {
    max-width: 264px;
    }

.section-banner-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-banner-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-----section-services-----*/

.section-services {
    margin-top: 120px;
}

.section-services-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #FFFFFF;
    margin-bottom: 72px;
}

.section-services-list{
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
    
}

.section-services-item{
    /*width: calc((100% - 48) / 3);*/
}

/*-----section-workers-----*/

.container-workers {
    background-color: var(--cloud);
    width: 1440px;
    height: 732px;  
}

.section-workers {
    
}   


.section-workers-heder {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 240px;
    margin-bottom: 72px;
}

.section-workers-list {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
    /*padding-top: 232px;
    padding-left: 240px;*/
    gap: 24px;
    
}

.section-workers-item {
    background-color: #FFFFFF;
    /*width: calc(100% - 72) / 4;*/

}

.section-workers-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-workers-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------FOOTER------------*/

.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logofoot-web {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logofoot-web-studio {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*--------PORTFOLIO--------*/
/*------1--------*/

.btn-portfolio {
    list-style: none;
}

/*--------2--------*/
.btn-portfolio-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
}

.btn-portfolio-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
}

.btn-portfolio-link:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.btn-portfolio-link:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/*-----------3----------*/

.list {
    list-style: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.picture-porfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-decoration: none;
}

.picture-porfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}