body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF

}

:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


/*-------------HEADER-------------*/

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    flex-grow: 1;  
    align-items: center;
}

.logo-web {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 25.5px 0 25.5px 0;
    margin-right: 76px;

}

.logo-web-studio {
    color: var(--navyblue);
    font-family: Raleway, sans-serif;
    
}

.studio {
    color: var(--navyblue);
}

.header-list {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.header-item {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu {
    color: var(--navyblue);
    padding: 24px 0;
}

.header-menu:hover {
    color: #404BBF;
}

.header-menu:focus {
    color: #404BBF;
}

.header-address {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-clic {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-clic:hover {
    color: #404bbf;
}

.header-address-clic:focus {
    color: #404bbf;
}

/*--------------MAIN------------*/
/*-----section-btn-----*/

.btn {
    background-color: var(--navyblue);
    padding: 188px 0;
}


.btn-container {
    align-items: center;
}

.btn-heder {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-top: auto;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.btn-button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}

.btn-button:hover {
    background-color: #404BBF;
}

.btn-button:focus {
    background-color: #404BBF;
}

/*-----section-banner-----*/

.section-banner {
    background-color: #FFF;
    padding: 120px 0;
}

.section-banner-list {
display: flex;
gap: 24px;
flex-wrap: wrap;
}

.section-banner-item {
    width: calc((100% - 72px) / 4);
 }

.section-banner-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;  
}

.section-banner-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-----section-services-----*/

.section-services {
    padding-bottom: 120px;
}

.section-services-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #FFFFFF;
    margin-bottom: 72px;
    margin-top: 120px;
}

.section-services-list{
    display: flex;
    gap: 24px; 
}

.section-services-item{
width: calc((100% - 48) / 3);
}

/*-----section-workers-----*/

.section-workers {
  padding: 120px 0;  
  background-color: var(--cloud); 
} 

.container-workers {
    
}

.section-workers-heder {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 240px;
    margin-bottom: 72px;
}

.section-workers-list {
    display: flex;
    gap: 24px;  
    padding-bottom: 120px; 
}

.section-workers-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72) / 4);
}

.container-workers-discription {
    padding: 32px 0;
}

.section-workers-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.section-workers-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*----------FOOTER------------*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0 ;
}

.footer-text {
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logofoot-web {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.logofoot-web-studio {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    max-width: 264px;
}

/*--------PORTFOLIO--------*/

.list {
    list-style: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

/*------portfolio-btn--------*/
.port-btn {
    padding-top: 96px;
    padding-bottom: 120px;
}

.port-btn-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.port-btn-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    text-align: center;
}

.port-btn-item:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.port-btn-item:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

/*-----------portfolio-img----------*/

.port-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.port-img-item {
    width: calc((100% - 48) / 3);
}

.port-img-clic {
    text-decoration: none;
}

.container-img-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.port-img-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-decoration: none;
    margin-bottom: 8px;
}

.port-img-text {
    font-size: 16px;
    line-height: 1.5port-img-text;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}